@model MockUp.Models.LoginModel

@{
    ViewData["Title"] = "Registration";
}

<head>
	<link rel="stylesheet" href="~/css/login.css">
</head>


<div class="box">
	<form asp-action="Registration">
		<span class="text-center">login</span>
		<div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
		<div class="input-container">
			<input asp-for="Email" type="text" required="" />
			<label asp-for="Email">Correo</label>
			<span asp-validation-for="Email" style="color:red;"></span>
		</div>
		<div class="input-container">
			<input asp-for="Password" type="mail" required="" />
			<label asp-for="Password">Contraseña</label>
			<span asp-validation-for="Password" style="color:red;"></span>
		</div>
		<div class="input-container">
			<input asp-for="Nombre" type="text" required="" />
			<label asp-for="Nombre">Nombre</label>
			<span asp-validation-for="Nombre" style="color:red;"></span>
		</div>
		<div class="input-container">
			<input asp-for="ApellidoPaterno" type="text" required="" />
			<label asp-for="ApellidoPaterno">Apellido Paterno</label>
			<span asp-validation-for="ApellidoPaterno" style="color:red;"></span>
		</div>
		<div class="input-container">
			<input asp-for="ApellidoMaterno" type="text" required="" />
			<label asp-for="ApellidoMaterno">Apellido Materno</label>
			<span asp-validation-for="ApellidoMaterno" style="color:red;"></span>
		</div>

		<button type="submit" class="btn">Crear</button>
		<button type="button" class="btn" onclick="document.location.href='SignIn';">SignIn</button>
	</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
