@model MockUp.Models.SignInModel

@{
    ViewData["Title"] = "SignIn";
}

<head>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<div class="box">
    <div class="wrapper">
        <div class="logo">
            <img src="~/imagenes/estrellarecortada.png" alt="Logo">
        </div>
        <div class="text-center mt-4 name">
            EduVerse
        </div>
        <form asp-action="SignIn" class="p-3 mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input asp-for="Email" type="text" placeholder="Correo" required />
                <span asp-validation-for="Email" style="color:red;"></span>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input asp-for="Password" type="password" placeholder="Contraseña" required />
                <span asp-validation-for="Password" style="color:red;"></span>
            </div>
            <button type="submit" class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="Registration">Sign up</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
