
/* Estilos para el modal */
.popup {
    width: 80%;
    max-width: 500px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p {
    font-size: 16px;
    margin: 20px 0;
}

.popup button {
    width: 45%;
    margin: 10px 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.popup .cancel-btn {
    background: #ff4b4b;
}


