
@{
    ViewData["Title"] = "VideoJuego";
}
<div style="display: flex; justify-content: center;">
    <iframe src="@Url.Content("https://i.simmer.io/@mauricioperea/eduversegame")" style="width:1000px; height:600px "></iframe>
</div>
